<!DOCTYPE html>
<html layout:decorate="~{layout}"
	xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"/></head>
<body>
	    <section class="layout-content" layout:fragment="corpo">
	
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Detalhe conta</span>
	                    </li>
	                </ul>
	            </div>
	        </nav>
	
	        <div class="container" id="cadastro">
	        
	        	<div th:replace="fragments/alert"></div>
	        	
	            <form
	            		th:object="${conta}" method="post">
	                <div class="form-row">
	                    <div class="form-group col-md-6">

							<input type="text" class="form-control" id="numeroConta" placeholder="Numero Conta" autofocus="autofocus"
																	name="numeroConta" required="true" th:value="${numeroConta}" />
	                    </div>
	                 </div>
	                 <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <input type="text" class="form-control" id="codigoAgencia" placeholder="Código Agencia" autofocus="autofocus"
	                               name="codigoAgencia" required="true" />
						</div>
	                 </div>
					<div class="form-row">
							 <div class="form-group col-md-6">
								 <input type="text" class="form-control" id="saldo" placeholder="Valor" autofocus="autofocus"
										name="saldo" required="true" data-mask="#.##0,00"
										data-mask-reverse="true"/>
					 </div>
	                    
					</div>


	            </form>
	        </div>
	    </section>
</body>
</html>		